.form {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form input,
.form button {
	border: 0;
	background-color: transparent;
	padding: 0;
	margin: 0;
}

.form input {
	flex: 1;
	height: 3rem;
}
.form button {
	padding: 1rem;
	background-color: skyblue;
	border-radius: .25rem;

}